<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    <ul id="chatlist">


    </ul>
    <input type="text" id="msgInput">
    <button id="btnSend">보내기</button>
    <script>
        const socket = new io();
        const msgInput = document.querySelector("#msgInput");
        document.querySelector('#btnSend').addEventListener("click", () => {
            socket.emit('send-msg', msgInput.value);
        });
        const chatlist = document.querySelector('#chatlist');
        socket.on('server-msg', data => {
            let li = document.createElement("li");
            li.innerHTML = data;
            chatlist.appendChild(li);
            console.log(data);
        });
    </script>
</body>

</html>